#game-board {
  align-items: center;
  background: var(--blue-gradient);
  border: 10px inset var(--blue-bg-lightest);
  border-radius: 10px;
  display: grid;
  height: var(--board-height);
  justify-content: center;
  width: var(--board-width);
}

.game-card {
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  object-fit: contain;
  position: relative;
}

.game-card:hover {
  transform: scale(1.2);
}

img.game-card-img {
  object-fit: scale-down;
  width: 100%;
}

.card-back {
  border-radius: 5px;
  position: absolute;
  z-index: 1;
}
