:root {
  /* NavBar */
  --dark-bg: #36454F;
  --light-color: whitesmoke;
  --nav-height: 10vh;
  /* Game */
  --board-height: 85vh;
  --board-width: 60vw;
  --card-height: calc((var(--board-height) * 0.8));
  --card-width: calc((var(--board-width) * 0.8));
  /* Global */
  --blue-bg-dark: #1e8aa9;
  --blue-bg-medium: #2ba9f1;
  --blue-bg-light: #96e8ff;
  --blue-bg-lightest: #cbf4ff;
  --orange-color: #f1842b;
  --blue-gradient: linear-gradient(var(--blue-bg-light), var(--blue-bg-medium));
}

/* Main container */
#app {
  background: var(--blue-gradient);
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Page containers */
.page {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: auto;
}

/* Global */
.btn {
  background-color: var(--blue-bg-lightest);
  border: none;
  border-radius: 5px;
  color: var(--dark-bg);
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  margin: auto;
  padding: 0.3rem;
  text-align: center;
}

.btn:hover {
  background-color: var(--blue-bg-dark);
  color: var(--blue-bg-lightest);
  transform: scale(1.2);
}

.hide {
  display: none !important;
}
